[Unit]
Description=Sleep on Lan
After=syslog.target
After=network.target

[Service]
Type=simple
User=root #needed in order to reboot system
Group=root
WorkingDirectory=/home/user #is not mandatory
ExecStart=/home/user/go/bin/sleeponlan
Restart=always

[Install]
WantedBy=multi-user.target